.ui-button {
  cursor: pointer;

  width: 100%;
  //max-width: 260px;
  height: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 900;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: $text-light;

  background: linear-gradient(200.42deg, #844FFC 13.57%, #491EB8 98.35%);
  border-radius: 20px;
}
