.ui-button {
  cursor: pointer;

  width: 100%;
  //max-width: 260px;
  height: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 900;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: $text-light;

  background: linear-gradient(200.42deg, #844FFC 13.57%, #491EB8 98.35%);
  border-radius: 20px;
}

.play-btn {
  max-width: 180px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: $white;

  background: #561BBE;

}
