@import "normalize";
@import "variables";
@import "ui/button";
@import "ui/input";

* {
  box-sizing: border-box;
}

html {
  font-family: $font-primary;
  color: $white;
  //font-size: 1em;
  //line-height: 1.4;
  background-color: $black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
